<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking for {{competition['name']}} || GUDLFT</title>
</head>
<body>
    <h2>{{competition['name']}}</h2>
    Places available: {{competition['numberOfPlaces']}}
    <p>Votre nombre de point : {{ club['points'] }}</p>
    {% set max_reservation = [club['points']|int, competition['numberOfPlaces']|int,12]|min %}

    {% if max_reservation <= 0 %}
        <p style="color: green; font-weight: bold;">
            Réservation effectué avec succès !
        </p>
        <p style="color: darkred; font-weight: bold;">
            Compétition maintenant complète ! Vous pouvez retourner sur la page d'acceuil
        </p>
        <a href="{{ url_for('welcome') }}"><button>Retour</button></a>



    
    {% else %}
    <form action="/purchasePlaces" method="post">
        <input type="hidden" name="club" value="{{club['name']}}">
        <input type="hidden" name="competition" value="{{competition['name']}}">
        
        <label for="places">How many places?</label>
        <input type="number" name="places" id="places" 
                min="1" max="{{ max_reservation }}" required>
         <!-- <p style="color: red">Vous ne pouvez pas réserver plus de {{ max_reservation }} place{{ max_reservation > 1 and 's' or '' }}.</p> -->
       <!--  message de confirmation -->
                {% with messages = get_flashed_messages()%}
                    {% if messages %}
                        <!-- <ul> -->
                    <ul style="color: green; font-weight: bold;">
                    {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                    {% endif%}
                {%endwith%}

        <!-- Bouton pour réserver -->
        <button type="submit" name="action_type" value="purshase">Book</button>
        <!-- Nouvelle fontionnalité: ajout de bouton retour -->
        <button type="submit" name="action_type" value="return" id="returnbutton">Retour</button>
           
    </form>

    <script>
        const returnbutton = document.getElementById('returnbutton');
        const placesinput = document.getElementById('places');
        returnbutton.addEventListener('click', function(){
            // Retire la contrainte "required" uniquement pour ce clic
            placesinput.removeAttribute('required');
        });
    </script>
    {% endif %}
</body>
</html>