<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking for {{competition['name']}} || GUDLFT</title>
</head>
<body>
    <h2>{{competition['name']}}</h2>
    Places available: {{competition['numberOfPlaces']}}
    {% set max_reservation = [club['points']|int, competition['numberOfPlaces']|int,12]|min %}

    <form action="/purchasePlaces" method="post">
        <input type="hidden" name="club" value="{{club['name']}}">
        <input type="hidden" name="competition" value="{{competition['name']}}">
        <label for="places">How many places?</label>
        <input type="number" name="places" id="places" 
                min="1" max="{{ max_reservation }}" required>
        
         <!--  message de confirmation -->
        {% with messages = get_flashed_messages()%}
            {% if messages %}
                <!-- <ul> -->
            <ul style="color: green; font-weight: bold;">
            {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif%}
        {%endwith%}

        <!-- Bouton pour réserver -->
        <button type="submit" name="action_type" value="purshase">Book</button>
        <!-- Nouvelle fontionnalité: ajout de bouton retour -->
        <button type="submit" name="action_type" value="return" id="returnbutton">Retour</button>
           
    </form>

    <script>
        const returnbutton = document.getElementById('returnbutton');
        const placesinput = document.getElementById('places');
        returnbutton.addEventListener('click', function(){
            // Retire la contrainte "required" uniquement pour ce clic
            placesinput.removeAttribute('required');
        });
    </script>

</body>
</html>